<template>
  <div>
    <img id="logo" src="@/assets/ninjaTalent.png">
    <h1>Codechallenge-Vue-junior</h1>
    <input type="text" v-model="buscar" placeholder="Buscar...">
      <div class="contenedor">
        <div class="contenedor-usuarios" v-for="usuario in filtrarBuscar" :key="usuario">
        <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png">
        <h2>{{ usuario.name }}</h2>
        <h4>{{ usuario.email }}</h4>
      </div>
     </div>
  </div>

</template>

<script>
import axios from 'axios'


export default {
  name: 'Home',
  components: {
  },

  data(){
    return{
      buscar: "",
      usuarios: []
    }
  },
  mounted(){
    this.getTodos();
  },

  methods: {
    getTodos(){
      axios.get('https://my-user-manager.herokuapp.com/users')
      .then(res =>{
        this.usuarios = res.data
      }).catch(e => {
        console.log(e)
      })
    }
  },

  computed: {
    filtrarBuscar(){
      return this.usuarios.filter(post => {
        return post.name.toLowerCase().includes(this.buscar.toLowerCase())
      })
    }
  }
}
</script>

<style>

body{
  background: #FFFFFF;
}

img{
  max-width: 50%;
  border-radius: 1rem;
}

h1{
  color: #DC3626;
  font-weight: bold;
}

h2{
  color: #000000;
  font-weight: 700;
  font-size: 1rem;
  padding: 1rem 0;
  background: #706D6D;
}

h4{
  color: #000000;
}

#logo{
  max-width: 30%;
}

input{
  text-aling: center;
  background: #DC3626;
  outline: none;
  border: 0;
  padding: 0.6rem;
  margin: 1rem;
  color: #FFFF;
  font-weight: 700;
  border-radius: 1rem;
}

.contenedor{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 20px 20px;
}

.contenedor-usuarios{
  background: #DC3626;
  padding: 1rem;
  border-radius: 1rem;
}

</style>
